img { /* Logo */
margin: auto;
display: block;
margin: 0 auto;
}

h1 { /* Titre de la page */
font-family: 'League Spartan';
font-size: 45px;
text-align: center;
}

label { /* Description des champs à renseigner */
font-family: 'League Spartan';
font-size: 20px;
display: block;
text-align: center;
line-height: 150%;
}

p { /* Partie centrale de la page */
font-family: 'League Spartan';
font-size: 18px;
text-align: center;
}

.switch { /* Slider partie 1 */
position: relative;
display: inline-block;
width: 30px;
height: 17px;
}

.switch input { /* Slider partie 2 */
opacity: 0;
width: 0;
height: 0;
}

.slider.round { /* Slider partie 3 */
border-radius: 17px;
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider.round:before { /* Slider partie 4 */
border-radius: 50%;
position: absolute;
content: "";
height: 13px;
width: 13px;
left: 2px;
bottom: 2px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider { /* Slider partie 5 */
background-color: #6887D4;
}

input:focus + .slider { /* Slider partie 6 */
box-shadow: 0 0 1px #6887D4;
}

input:checked + .slider:before { /* Slider partie 7 */
-webkit-transform: translateX(13px);
-ms-transform: translateX(13px);
transform: translateX(13px);
}

a { /* Liens cliquables */
font-family: 'League Spartan';
font-size: 20px;
display: block;
text-align: center;
}

