/* ------ Home Page ------ */
#categories{ /* Zone des recommandations des catégories */
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 120vh;
    background: white;
    align-self: flex-start;
    font-family: 'League Spartan';
    border-radius: 10px;
}

#bestPost{
    position: sticky;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 120vh;
    background: white;
    align-self: flex-start;
    font-family: 'League Spartan';
    border-radius: 10px;
}

#liensCategories { /* Liens cliquables */
    font-family: 'League Spartan';
    display: block;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 1.8px;
    padding-top: 40px;
    background:url(https://www.publicdomainpictures.net/pictures/70000/nahled/animal-13901479985Nv.jpg) no-repeat;
    width:20vw;
    height:115px;
    border-radius: 10px;
}

#titreCategorie{
    font-family: 'League Spartan';
    font-weight: 500;
    font-size: 2em;
    text-align:left;
}

#voirPlus{
    font-family: 'League Spartan';
    display: block;
    text-align: center;
    color: #758cc9;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 1.8px;
    padding-top: 40px;
}

#catContainer{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}

.sectionTitle{
    align-self: center;
    justify-self: center;
    padding-top: 30px;
    font-size: 2em;
    font-family: "League Spartan", serif;

}

@media screen and (max-width: 1200px){

    #catContainer #bestPost{
        display: none;
    }

    #catContainer #categories{
        display: none;
    }
}
