h2{
    font-family: "League Spartan", serif;
    color: #2c2c2c;
    font-size: 2em;
    padding-bottom: 20px;
    text-align: center;
}

#send { /* Bouton */
    background-color: #6887D4;
    border: none;
    width: 55vw;
    max-width: 500px;
    height: 6vh;
    border-radius: 5px;
    color: white;
    font-family: League Spartan;
    font-weight: 700;
    letter-spacing: 1.8px;
    margin-top: 3vh;
    font-size: 1.7em;
    cursor: pointer;
    display:block;
    text-align:center;
    margin:auto;
}

#send:hover{ /* Changement de couleur du bouton pour envoyer quand on passe le curseur dessus */
    background-color: #5653b4;
    transition: background-color 0.3s ease-in-out;
}